html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html{
    color: black;
    background-image: url(./img/sign.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;   
    padding-top:3.8em ;
}

img{
    height: 200px;
    margin-top: 100px;
    padding-top: 200px;
    padding-left: 250px;
}

.para{
    font-size: 45px;
    margin-top: 200px;
    margin-bottom: 150px;
    text-align: center;   
}

.formcon{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 650px;   
}

.part1>div{
    margin: 80px;
    margin-left: 200px ;
}

.part2>div{
    margin: 80px;
    margin-left: 300px;
}

input{
    box-sizing: border-box;
    width: 500px;
    height: 60px;
    display: block;
    border-radius: 8px;
    font-size: 30px;
    background-color: black;
    border:7px solid white;
    color: white;
}

label{
    font-size: 30px;
}

.let{
    font-weight: bolder;
    font-size: 50px;
    padding-left: 700px ;
    margin-top: 150px;
}

em{
    font-style: italic;
}

#createaccount{
    width: 400px;
    height: 90px;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: black;
    color: grey;
    border-radius: 20px;
    cursor: pointer;
    border: 2px solid red;
}

#createaccount:hover{
    font-size: 34px;
    transition: 0.2s;
    color: gray;
}

#butdiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24em ;
}

.log{
    font-size: 30px;
    color: grey;
    align-items: center;
    padding-top: 0.7em ;
    font-weight: bolder;
}

#login{
    font-size: 1em;
    border: 0;
    padding: 0;
    background: 0;
    cursor: pointer;
    font-weight: bolder;
    color: grey;
    text-decoration: underline;
}

#login:hover{
    color: red;
}

.log>em{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    color: white;
}

input:focus{
    border-color: purple;
}

#firstname{
    padding-left: 75px;
}

#lastname{
    padding-left: 160px;
}
#password{
    padding-left: 230px;
}

#phonenumber{
    padding-left: 445px;
}

#email{
    padding-left: 350px;
}

#confirmpassword{
    padding-left: 280px;
}
